.reportpage {
  background-color: #f9f9f9;
  width: 100%;
  min-height: 93vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.reportpage .s1,
.reportpage .s2,
.reportpage .s3,
.reportpage .s4 {
  width: 45%;
  margin: 10px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reportpage .editbutton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  border-radius: 50%;
  background-color: #ffc20e;
  color: white;
  font-size: 24px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}

.reportpage .editbutton:hover {
  background-color: #f9bc05;
  transform: scale(1.1);
}
