.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.753);
}

.authform {
  display: flex;
  background-color: black;
  width: 50%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.354);
  height: 70%;
}

.authform .left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authform .left img {
  width: 60%;
  height: auto;
}

.authform .right {
  width: 50%;
  border-left: 1px solid #ffc20e;
  padding: 40px;
  overflow-y: scroll;
}

.authform .right h1 {
  color: #ffc20e;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin: 10px 0px;
}

.authform .right form {
  margin-top: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.authform .right button {
  margin-top: 10px;
  background-color: #ffc20e;
  color: black;
}

.authform p {
  margin: 10px 0px;
}

.authform .form_input_leftright {
  display: flex;
  gap: 10px;
}
.authform .form_input_leftright input {
  width: 100%;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  line-height: 0;
}
